<a href="https://colab.research.google.com/github/MJuanM/normalizacion-pandas/blob/main/NetflixDisney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

# Lectura de archivos

In [20]:
link_disney = 'https://raw.githubusercontent.com/MJuanM/normalizacion-pandas/main/Tablas/disney_plus_titles.csv'
link_netflix = 'https://raw.githubusercontent.com/MJuanM/normalizacion-pandas/main/Tablas/netflix_titles.csv'

In [21]:
netflix = pd.read_csv(f'{link_netflix}', sep=';')
disney = pd.read_csv(f'{link_disney}', sep=',')

# Visualización de archivos

In [ ]:
netflix.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
disney.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [ ]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8808 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7983 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   object
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8806 non-null   object
 11  description   8806 non-null   object
dtypes: object(12)
memory usage: 826.0+ KB

In [ ]:
netflix.isna().sum()

show_id            0
type               1
title              2
director        2636
cast             826
country          833
date_added        12
release_year       2
rating             6
duration           5
listed_in          3
description        3
dtype: int64

In [ ]:
disney.isna().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [ ]:
# Porcentaje de nulos en cada campo
(round(netflix.isna().sum()*100/netflix.shape[0])).sort_values(ascending=False)

director        30.0
cast             9.0
country          9.0
show_id          0.0
type             0.0
title            0.0
date_added       0.0
release_year     0.0
rating           0.0
duration         0.0
listed_in        0.0
description      0.0
dtype: float64

# Eliminación de registros que los nulos sean mayor al 80%

In [22]:
tablas = ['netflix', 'disney']

for x in tablas:
  exec(f'{x}.dropna(axis=0, inplace=True, thresh=int({x}.shape[1]*0.8))')

# Casteo de columna `release_year`
Por defecto, la columna es de tipo "object", es decir de tipo string, en la tabla netflix, mientras que en Disney se encuentra de tipo integer.
Al intentar convertir del tipo object a interger, se obtuvo un error por registros inconsistentes.
A continuación se busca eliminar esos registros para poder convertir la columna a tipo interger de forma exitosa.

In [ ]:
netflix['release_year'].unique()

array(['2020', '2021', '1993', '2018', '1996', '1998', '1997', '2010',
       '2013', '2017', '1975', '1978', '1983', '1987', '2012', '2001',
       '2014', '2002', '2003', '2004', '2011', '2008', '2009', '2007',
       '2005', '2006', '1994', '2015', '2019', '2016', '1982', '1989',
       '1990', '1991', '1999', '1986', '1992', '1984', '1980', '1961',
       '2000', '1995', '1985', '1976', '1959', '1988', '1981', '1972',
       '1964', '1945', '1954', '1979', '1958', '1956', '1963', '1970',
       '1973', '1925', '1974', '1960', '1966', '1971', '1962', '1969',
       '1977', '1967', '1968', '1965', '1946', '1942', '1955', '40 min',
       '1944', '1947', '1943'], dtype=object)

In [ ]:
netflix.loc[netflix['release_year'] == '40 min', :]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

In [23]:
netflix.drop(8421,axis=0,inplace=True)

In [24]:
netflix['release_year'] = netflix['release_year'].astype('int64')

# Concatenación de archivos

In [25]:
# Creación de tablas
platforms = pd.DataFrame({'id_platforms': [101, 202], 'platforms': ['Netflix', 'Disney Plus']})

In [26]:
# Columna identificadora de archivos
disney['id_platforms'] = 202
netflix['id_platforms'] = 101

In [27]:
movies = pd.concat([disney, netflix], axis=0)

In [28]:
movies = movies.reset_index().rename(columns={'index':'id_movies'})

In [29]:
def normalization_many(first_table, second_table, third_table, id_first, column_normalization):
  # Funcion para devolver 3 tablas que representen una relacion many-to-many
  # Primer tabla
  second_table = first_table[[f'id_{id_first}', f'{column_normalization}']].copy()
  second_table.loc[:, f'{column_normalization}'] = second_table[f'{column_normalization}'].str.split(', ')
  second_table = second_table.explode(f'{column_normalization}')
  second_table = second_table.dropna()
  second_table = second_table.reset_index(drop=True).reset_index()
  second_table = second_table.rename(columns={'index': f'id_{id_first}_{column_normalization}'})
  # Segunda tabla
  third_table = second_table[f'{column_normalization}']
  third_table = third_table.str.split(', ').explode().unique()
  third_table = pd.DataFrame(third_table).reset_index()
  third_table = third_table.rename(columns={'index':f'id_{column_normalization}', 0:f'name_{column_normalization}'})
  # Join de tablas
  second_table = second_table.merge(third_table, how='left', left_on=f'{column_normalization}', right_on=f'name_{column_normalization}')
  second_table.drop(columns={f'{column_normalization}',f'name_{column_normalization}'}, inplace=True)
  first_table.drop(columns={f'{column_normalization}'}, inplace=True)
  return first_table, second_table, third_table

In [30]:
movies, title_director, director = normalization_many(movies, 'directores', 'director', 'movies', 'director')
movies, title_genre, genre = normalization_many(movies, 'title_genre', 'genre', 'movies', 'listed_in')
movies, title_cast, cast = normalization_many(movies, 'title_cast', 'cast', 'movies', 'cast')
movies, title_country, country = normalization_many(movies, 'title_country', 'country', 'movies', 'country')

# Normalizacion de columna `rating`
Antes de normalizar la columna, debemos eliminar registros inconsistentes.

In [ ]:
movies['rating'].unique()

array(['TV-G', 'PG', 'TV-PG', nan, 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV', 'TV-MA', 'R', 'NC-17', '74 min', '84 min', '66 min',
       'NR', 'UR'], dtype=object)

In [31]:
movies.loc[(movies['rating'] == '74 min') | (movies['rating'] == '84 min') | (movies['rating'] == '66 min'), 'rating'] = np.nan

In [32]:
movies['rating'].unique()

array(['TV-G', 'PG', 'TV-PG', nan, 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV', 'TV-MA', 'R', 'NC-17', 'NR', 'UR'], dtype=object)

In [33]:
rating = pd.DataFrame()
rating['rating'] = movies['rating'].unique()
rating = rating.reset_index()
rating.rename(columns={'index': 'id_rating'}, inplace=True)
movies = movies.merge(rating, how='left', left_on='rating', right_on='rating')
movies.drop(columns=['rating'], inplace=True)

# Casteo de columna `duration`
La columna `duracion` indica:
- La cantidad de minutos, si se trata de una pelicula, es decir `type = movie`. Por ejemplo, el registro sera `90 min`.
- La cantidad de temporadas para los TV Shows, es decir `type = TV Show`. Por ejemplo, el registro sera `3 Seasons`

Se va a convertir esta columna a tipo Integer, eliminando los strings "Season" y "min". Por medio de la columna `type`, es posible interpretar si la duracion esta en minutos o en temporadas.

In [34]:
movies.loc[movies['duration'].isna(),:]

,id_movies,show_id,type,title,date_added,release_year,duration,description,id_platforms,id_rating
6990,5541,s5542,Movie,Louis C.K. 2017,"April 4, 2017",2017,NaN,"Louis C.K. muses on religion, eternal love, gi...",101,3
7243,5794,s5795,Movie,Louis C.K.: Hilarious,"September 16, 2016",2010,NaN,Emmy-winning comedy writer Louis C.K. brings h...,101,3
7262,5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,"August 15, 2016",2015,NaN,The comic puts his trademark hilarious/thought...,101,3

In [35]:
movies.dropna(subset=['duration'], inplace=True)

In [36]:
movies.loc[movies['duration'].str.contains('min'), ['duration']] = movies['duration'].str[:-4]
movies.loc[movies['duration'].str.contains('Season'), ['duration']] = movies['duration'].str[:-7]
movies.loc[movies['duration'].str.contains('Seasons'), ['duration']] = movies['duration'].str[:-8]

In [37]:
movies['duration'] = movies['duration'].astype('int64')

# Normalizacion de la columna `type`
Vamos a crear una columna booleana que:
- representa una pelicula si el valor es True
- representa una serie o TV Show si el valor False

In [38]:
movies['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [39]:
movies['type_movie'] = False

In [40]:
movies.loc[movies['type'] == 'Movie', ['type_movie']] = True

In [41]:
movies.drop(axis=1, columns='type', inplace=True)

# Casteo de la columna `date_added`

In [42]:
movies['date_added'] = pd.to_datetime(movies['date_added'])

In [43]:
movies.head(5)

,id_movies,show_id,title,date_added,release_year,duration,description,id_platforms,id_rating,type_movie
0,0,s1,Duck the Halls: A Mickey Mouse Christmas Special,2021-11-26,2016,23,Join Mickey and the gang as they duck the halls!,202,0,True
1,1,s2,Ernest Saves Christmas,2021-11-26,1988,91,Santa Claus passes his magic bag to a new St. ...,202,1,True
2,2,s3,Ice Age: A Mammoth Christmas,2021-11-26,2011,23,Sid the Sloth is on Santa's naughty list.,202,0,True
3,3,s4,The Queen Family Singalong,2021-11-26,2021,41,"This is real life, not just fantasy!",202,2,True
4,4,s5,The Beatles: Get Back,2021-11-25,2021,1,A three-part documentary from Peter Jackson ca...,202,3,False

# Carga a base de datos

In [ ]:
from credenciales_database import *
from sqlalchemy import create_engine
import psycopg2

In [ ]:
conn_str = f'postgresql://avnadmin:AVNS_1dZD1zREXNLmk-GG2WM@pg-31387949-pruebas001.aivencloud.com:13835/defaultdb?sslmode=require'
db = create_engine(conn_str)
conn = db.connect()

In [ ]:
tablas = ['movies',
          'platforms',
          'title_director',
          'director',
          'title_genre',
          'genre',
          'title_cast',
          'cast',
          'title_country',
          'country',
          'rating']

In [ ]:
# Escribir el dataframe en una tabla de base de datos
for x in tablas:
  exec(f"{x}.to_sql('{x}', schema = 'public', con = conn, if_exists = 'replace', index = False)")

In [ ]:
conn.commit()